<div class="views-row">
    <article role="article" about="{{card.clickthrough_url}}" class="node node--type-news node--promoted node--view-mode-teaser">
        <div class="node__content">
            <div class="before">
                <a href="{{ card.clickthrough_url }}" hreflang="nl" target="_blank"> <img loading="lazy" {% if card.image
                        contains 'http' %} src="{{ card.image }}" {% else %} src="{{ site.baseurl }}{{ card.image }}" {%
                        endif %} width="600" height="450" alt="{{ card.title }}" title="{{card.title}}"
                        typeof="foaf:Image" class="image-style-medium-cropped" />
                </a>
            </div>
            <div class="main">
                <div class="main-inner">
                    {% for tag in card.tags %}
                    <a href="#" class="field__news_teaser">{{tag}}</a>
                    {% endfor %}
                    <h3>
                        <a href="{{ card.clickthrough_url }}" hreflang="nl" target="_blank"><span
                                class="field field--name-title field--type-string field--label-hidden">{{card.title}}</span>
                        </a>
                    </h3>
                    <div class="node-date">
                        {{card.date}}
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>