<footer>
    <div class="region region-footer">
      <div id="block-footerparagraphs"
        class="block--type-paragraphs-block block block-block-content block-block-contentfb3db23a-bc58-4eed-a875-1cb32e663944">



        <div class="field field--name-field-paragraphs field--type-entity-reference-revisions field--label-hidden">


          <div class="row field__items">
            <div class="col-12 field__item">
              <div class="pb-5 pt-6 paragraph paragraph--type--container paragraph--view-mode--default">

                <div
                  class="field field--name-field-paragraph-container-items field--type-entity-reference-revisions field--label-hidden">


                  <div class="row field__items">
                    <div class="col-12 field__item">
                      <div
                        class="background-light-2 pb-5 pt-5 px-2 paragraph paragraph--type--basic-text paragraph--view-mode--default">

                        <div
                          class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__items">
                          <h2 class="text-align-center">
                            Ontvang onze nieuwsbrief</h2>

                          <p class="text-align-center">Blijf
                            op de hoogte van onze
                            recentste ontwikkelingen,
                            nieuwste projecten en
                            aankomende events.</p>

                          <p class="text-align-center"><a class="more-link-colored"
                              href="https://www.vliz.be/testerep/nl#block-simplenewssubscription">Schrijf
                              je in</a></p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div class="col-12 field__item">
              <div
                class="background-dark-1 container-full-width pb-6 pt-6 paragraph paragraph--type--container paragraph--view-mode--default">

                <div
                  class="field field--name-field-paragraph-container-items field--type-entity-reference-revisions field--label-hidden">


                  <div class="row field__items">
                    <div class="col-12 field__item">
                      <div class="paragraph paragraph--type--basic-text paragraph--view-mode--default">

                        <div
                          class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__items">
                          <h2 class="text-align-center">Volg
                            VLIZ op sociale media!</h2>

                          <ul class="social-icons">
                            <li><a href="https://nl-nl.facebook.com/VLIZnieuws" target="_blank"><i
                                  class="fa-brands fa-facebook-f fa-2x"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/vlizostend/" target="_blank"><i
                                  class="fa-brands fa-instagram fa-2x"></i></a>
                            </li>
                            <li><a href="https://twitter.com/vliznews" target="_blank"><i
                                  class="fa-brands fa-twitter fa-2x"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/company/vliz---flanders-marine-institute"
                                target="_blank"><i class="fa-brands fa-linkedin-in fa-2x"></i></a>
                            </li>
                            <li><a href="http://www.youtube.com/user/VLIZoostende?feature=watch" target="_blank"><i
                                  class="fa-brands fa-youtube fa-2x"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
      <div id="block-footerparagraphsbottom"
        class="block--type-paragraphs-block block block-block-content block-block-content42c15541-5ab2-44df-8666-3573f6c0a83e">



        <div class="field field--name-field-paragraphs field--type-entity-reference-revisions field--label-hidden">


          <div class="row field__items">
            <div class="col-12 field__item">
              <div
                class="background-light-4 container-full-width pb-5 pt-5 paragraph paragraph--type--container paragraph--view-mode--default">

                <div
                  class="field field--name-field-paragraph-container-items field--type-entity-reference-revisions field--label-hidden">


                  <div class="row field__items">
                    <div class="col-md-4 field__item">
                      <div class="pb-1 pt-1 px-1 paragraph paragraph--type--basic-text paragraph--view-mode--default">

                        <div
                          class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__items">
                          <h5 class="highlighted-heading">Hoe
                            ...</h5>

                          <ul class="link-list">
                            <li><a href="/nl/wie-we-zijn/over-vliz/onze-werking" target="_blank">is
                                VLIZ
                                georganiseerd?</a>
                            </li>
                            <li><a href="/nl/jobs" target="_blank">solliciteren
                                bij VLIZ?</a></li>
                            <li><a href="/nl/steun-ons/hoe-jij-kan-helpen/word-lid-van-het-vliz">lid
                                worden van
                                VLIZ?</a></li>
                            <li><a href="/nl/onderzoeksvisie" target="_blank">ziet
                                het marien
                                onderzoek
                                eruit?</a></li>
                            <li><a href="/nl/contact#14|51.2252|2.9138" target="_blank">een
                                infovraag
                                stellen?</a></li>
                            <li><a href="https://www.onroerenderfgoed.be/metaaldetectievondsten-melden">een
                                strandvondst
                                melden?</a></li>
                            <li><a href="/nl/privacy">gaat
                                VLIZ om met uw
                                privacy?</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 field__item">
                      <div class="pb-1 pt-1 px-1 paragraph paragraph--type--basic-text paragraph--view-mode--default">

                        <div
                          class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__items">
                          <h5 class="highlighted-heading">
                            Tools ...</h5>

                          <ul class="link-list">
                            <li><a href="#">WoRMS</a></li>
                            <li><a href="https://www.marineregions.org/" target="_blank">Marine
                                Regions</a></li>
                            <li><a href="https://emodnet.ec.europa.eu/en" target="_blank">EMODnet
                                portaal</a></li>
                            <li><a href="https://www.lifewatch.be/" target="_blank">LifeWatch
                                virtueel lab</a>
                            </li>
                            <li><a href="/nl/wat-we-doen/aanbod-infrastructuur/onderzoeksvaartuigen">VLIZ-cruises</a>
                            </li>
                            <li><a href="https://kustportaal.be/nl" target="_blank">Kustportaal</a>
                            </li>
                            <li><a href="https://www.scheldemonitor.be/nl" target="_blank">Scheldemonitor</a>
                            </li>
                            <li><a href="https://mda.vliz.be">Marien
                                Data Archief</a>
                            </li>
                            <li>Open Marien Archief (bib)
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 field__item">
                      <div class="pb-1 pt-1 px-1 paragraph paragraph--type--basic-text paragraph--view-mode--default">

                        <div
                          class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__items">
                          <h5 class="highlighted-heading">
                            Quick links</h5>

                          <ul class="link-list">
                            <li><a href="/nl/node/13236" target="_blank">Catalogus
                                bibliotheek</a>
                            </li>
                            <li><a href="https://www.vliz.be/nl/imis" target="_blank">Informatiesysteem
                                (IMIS)</a></li>
                            <li><a href="http://www.compendiumkustenzee.be/nl/home-0" target="_blank">Compendium
                                voor Kust en
                                Zee</a></li>
                            <li>Historiek zeevisserij</li>
                            <li>Kaartmateriaal</li>
                            <li>Foto en video</li>
                            <li><a href="https://kustportaal.be/nl">Kustportaal</a>
                            </li>
                            <li><a href="https://planeetzee.be/" target="_blank">Planeet
                                Zee</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div class="col-12 field__item">
              <div
                class="background-light-4 container-full-width container-add-top-divider container-align-items-center container-flex-justify-space-between pb-4 pt-2 paragraph paragraph--type--container paragraph--view-mode--default">

                <div
                  class="field field--name-field-paragraph-container-items field--type-entity-reference-revisions field--label-hidden">


                  <div class="row field__items">
                    <div class="col-12 field__item">
                      <div class="paragraph paragraph--type--basic-text paragraph--view-mode--default">

                        <div
                          class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__items">
                          <p class="paragraph-small">© 2023
                            VLIZ. All rights reserved</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 field__item">
                      <div class="paragraph paragraph--type--basic-text paragraph--view-mode--default">

                        <div
                          class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__items">
                          <p class="paragraph-small"><a class="link-colored" data-entity-substitution="canonical"
                              data-entity-type="node" data-entity-uuid="b74b4d98-09a8-46ab-9dab-c3cce361c675"
                              href="/nl/privacy" title="Privacy policy">Privacy
                              Policy</a><a href="/nl/privacy">
                            </a>- <a class="link-colored" data-entity-substitution="canonical" data-entity-type="node"
                              data-entity-uuid="0a6bc71e-a82c-4837-935d-a7c2847a3959" href="/nl/terms-use"
                              title="Terms of use">Terms
                              of use</a></p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div class="col-12 field__item">
              <div
                class="container-align-items-center pb-4 pt-4 paragraph paragraph--type--container paragraph--view-mode--default">

                <div
                  class="field field--name-field-paragraph-container-items field--type-entity-reference-revisions field--label-hidden">


                  <div class="row field__items">
                    <div class="col-4 col-md-3 col-lg-2 field__item">
                      <div class="paragraph paragraph--type--media paragraph--view-mode--default">

                        <div
                          class="field field--name-field-media field--type-entity-reference field--label-hidden field__items">
                          <article class="media media--type-image media--view-mode-large">
                            <div
                              class="field field--name-field-media-image field--type-image field--label-hidden field__items">
                              <a href="https://www.vlaanderen.be/"><img loading="lazy"
                                  src="{{site.baseurl}}/assets/core/misc/Vlaanderen_verbeelding werkt.png"
                                  width="823" height="347" alt="Vlaanderen: Verbeelding werkt" typeof="Image"
                                  class="image-style-large-1000" /></a>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 offset-4 col-md-3 offset-md-6 col-lg-2 offset-lg-8 field__item">
                      <div class="paragraph paragraph--type--media paragraph--view-mode--default">

                        <div
                          class="field field--name-field-media field--type-entity-reference field--label-hidden field__items">
                          <article class="media media--type-image media--view-mode-large">
                            <div
                              class="field field--name-field-media-image field--type-image field--label-hidden field__items">
                              <a href="https://www.west-vlaanderen.be/"><img loading="lazy"
                                  src="{{site.baseurl}}/assets/core/misc/west_vlaanderen_logo.png"
                                  width="404" height="181" alt="West vlaanderen de gedreven provincie" typeof="Image"
                                  class="image-style-large-1000" /></a>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </footer>