---
layout: default
---

{% if site.data.main_banner %}
  {% include banner/main.html banner=site.data.main_banner %}
{% endif %}

{% include image_w_descr_curly/main.html data=site.data.opsci_mission_values %}

<h3>What are the components???</h3>

<h3>Relationship to vliz</h3>
<ul>
    <li>Statement Team Leen here</li>
    <li>Statement Team Jelly here</li>
    <li>Statement Team Lennert here</li>
    <li>Statement Team the best here</li>
</ul>

{% include carrousel_block/main.html data=site.data.core_principles %}

{% include no_bg_colored_blocks/main.html data=site.data.priority_areas_action %}

{% include light_bg.html content=
"<h2>FAIR values</h2>
<p>
    The FAIR Guiding Principles for scientific data management and stewardship are intended to help improve the
    Findability, Accessibility, Interoperability, and Reuse of digital assets. The FAIR Principles emphasize
    machine-actionability (i.e., the capacity of computational systems to find, access, interoperate, and reuse data
    with none or minimal human intervention) because humans increasingly rely on computational support to deal with
    data as a result of the increase in volume, complexity, and creation speed of data.
</p>
"
%}