---
layout: default
---

{% if site.data.main_banner %}
{% assign banner = site.data.main_banner %}
{% include banner/main.html banner=banner %}
{% endif %}
{% assign data=site.data.opsci_mission_values %}
{% include image_w_descr_curly/main.html data=data %}
{% assign data=site.data.core_principles %}
{% include carrousel_block/main.html data=data %}

<h4>
    In order to promote open science and fair data practices, there are several priority areas of action that can be considered:
</h4>
<p>
    <ul>
        <li>
            <b>Adoption of the FAIR Principles: </b>
            <p>
                The FAIR (Findable, Accessible, Interoperable, and Reusable) Principles provide a framework for making research data more accessible and reusable. These principles emphasize the importance of data discoverability, accessibility, and interoperability, enabling researchers to find and use data more effectively. By adopting the FAIR Principles, researchers and institutions can contribute to the overall goal of open science and fair data.
            </p>
        </li>
        <li>
            <b>Implementation of Data Management Plans:</b>
            <p>
                Data management plans (DMPs) are essential for ensuring that research data is properly managed, preserved, and shared. DMPs outline the strategies and practices for data collection, organization, documentation, storage, and sharing throughout the research process. By implementing robust DMPs, researchers can ensure that their data is properly managed and made available to others in a fair and transparent manner.
            </p>
        </li>
        <li>
            <b>Promotion of Data Sharing and Collaboration: </b>
            <p>
                Open sharing of research data promotes collaboration and accelerates scientific progress. Researchers and institutions can prioritize the sharing of research data through data repositories, data archives, and open data platforms. This not only enhances the visibility and impact of research but also allows others to validate and build upon existing findings. Encouraging a culture of data sharing and collaboration can significantly contribute to the advancement of open science and fair data practices
            </p>
        </li>
        <li>
            <b>
                Education and Training on Open Science and Fair Data:
            </b>
            <p>
                To foster a culture of open science and fair data, it is important to provide education and training opportunities to researchers, students, and other stakeholders. Workshops, webinars, and online resources can be developed to raise awareness about the benefits and best practices of open science and fair data. By equipping individuals with the necessary skills and knowledge, we can ensure the widespread adoption of open science principles and fair data practices
            </p>
        </li>
        <li>
            <b>
                Support from Funding Agencies and Institutions: 
            </b>
            <p>
                Funding agencies and institutions play a crucial role in promoting open science and fair data practices. They can develop policies and guidelines that encourage researchers to adopt open science principles and adhere to fair data practices. By providing support, resources, and incentives, funding agencies and institutions can create an environment that fosters the sharing and reuse of research data
            </p>
        </li>
    </ul>
</p>
<p>
    By focusing on these priority areas of action, we can advance open science and fair data practices, leading to greater transparency, reproducibility, and collaboration in scientific research.
</p>

{% include light_bg.html content=
    "<h2>FAIR values</h2>
    <p>
        The FAIR Guiding Principles for scientific data management and stewardship are intended to help improve the
        Findability, Accessibility, Interoperability, and Reuse of digital assets. The FAIR Principles emphasize
        machine-actionability (i.e., the capacity of computational systems to find, access, interoperate, and reuse data
        with none or minimal human intervention) because humans increasingly rely on computational support to deal with
        data as a result of the increase in volume, complexity, and creation speed of data.
    </p>
    "
%}
