---
layout: default
permalink: /publications/
---

<h1> Open Science publications </h1>
(side-note: this page doesn't work with includes from the theme --> would opt to this)
<h4>Zenodo community</h4>
Check out our collection of open science publications on <a
    href="https://zenodo.org/communities/vliz-openscience/">zenodo.org/communities/vliz-openscience</a>


<h4>Scientific Papers</h4>
{% assign data=site.data.publications %}
<table style="background-color: #fff7d010;">
    <thead style="background-color: #f7c97c;">
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Abstract</th>
            <th>Date</th>
            <th>Journal</th>
            <th>Access</th>
        </tr>
    </thead>
    <tbody>

        {% for pub in data.scientificPapers %}

        <tr style="border-bottom: #f7c97c solid 2px;">
            <td><a href="{{pub.url}}" target="_blank">{{ pub.title }}</a></td>
            <td>{{ pub.authors }}</td>
            <td>{{ pub.abstract }}</td>
            <td>{{ pub.date }}</td>
            <td>{{ pub.journal }}</td>
            <td>{{ pub.access }}</td>

            {% endfor %}

    </tbody>
</table>
<p></p>

<h4>Conference Proceedings</h4>
Same here for the conference proceedings ?
{% for pub in data.conferenceProceedings %}
<p>{{pub.title}}</p>
{% endfor %}