<section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <i class="fa fa-location-dot fa-4x"></i>
                    <h3 class="section-heading">Location</h3>
                     <div>    
                        <h5>InnovOcean Campus</h5>
                        <h5>Jacobsenstraat 1</h5>
                        <h5>8400 Ostend, Belgium </h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.311742541514!2d2.9364106159204684!3d51.23175333864046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dca9341e839613%3A0x27ffa87d1da70a78!2sJacobsenstraat%201%2C%208400%20Oostende!5e0!3m2!1snl!2sbe!4v1661417558704!5m2!1snl!2sbe" 
                        width="600" height="450" style="border-radius: 15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <h3>Contact</h3>
                    <h5>We are always open to have a chat and share expertise</h5>
                    <h5>So feel free to contact us!</h5>   
                    <div>
                        <a href="mailto:info@opsci.be">
                            <i class="fa fa-envelope fa-4x"></i>
                            <h4>info@opsci.be</h4>
                        </a>
                    </div>
                    
                    <br>
                   
                </div>
            </div>
        </div>
    </section>
