<!-- About Section -->
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">Events we organize and participate in</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% assign now = 'now' | date: "%Y" %}
                        {% for item in site.data.events %}
                            {% if item.year == now %}
                                {% for part in item.events %}
                                    {% assign irem = forloop.index | modulo: 2 %}
                                    {% if irem != 0 %}
                                    <li class="timeline">
                                    {% else %}
                                    <li class="timeline-inverted">
                                    {% endif %}
                                    <div class="timeline-image">
                                        {% if part.img %}
                                        <img class="img-responsive grayscale" src="{{part.img}}" alt="" >
                                        {% else %}
                                        <span class="fa-stack fa-5x">
                                            <i class="fa fa-{{part.icon}} fa-stack-2x"></i>
                                        </span>
                                        {% endif %}
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <a href="{{part.heading-url}}" target="_blank"><h4>{{part.heading}}</h4></a>
                                            <h4 class="subheading">{{part.subheading-onset}}: <a href="{{part.subheading-url}}" target="_blank">{{part.subheading-topic}}</a></h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">{{part.date}}</p>
                                            <p class="text-muted">{{part.description}}</p>
                                        </div>
                                    </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a class="intro-lead-in" href={{ "/events.html" | relative_url}}>
                                    <h4>see
                                    <br>previous
                                    <br>events</h4>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>