    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <img src="img/vliz-opsci-logo.png" alt="" width="40%">
                <div class="intro-heading">Open Science Team</div>
                <a href="#expertise" class="page-scroll"><i class="fa-solid fa-angles-down fa-2x"></i></a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

