<!-- Navigation -->
    <nav class="navbar navbar-expand navbar-fixed-top">
        <div class="container">            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="" id="">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href={{ "#expertise" | absolute_url}}>Expertise</a> 
                    </li>
                    <li>
                        <a class="page-scroll" href={{ "#events" | absolute_url}}>Events</a>
                    </li>
                    <li>
                        <a class="page-scroll" href={{ "#publications" | absolute_url}}>Publications</a>
                    </li>
                    <li>
                        <a class="page-scroll" href={{ "#projects" | absolute_url}}>Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href={{ "#contact" | absolute_url}}>Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href={{ "#team" | absolute_url}}>Team</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        
        <!-- /.container-fluid -->
    </nav>

    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
    </button>