<!-- Services Section -->
<section id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>

        <div class="row text-center" id="scientificPubs">
                <i class="fa fa-graduation-cap fa-2x"></i>
                <h3> Scientific papers</h3>
                {% for publication in site.data.publications.scientificPapers %}
                {% assign display_arr = publication.display | split: '-' %}
                {% if display_arr[0] == 'main' %}
                <div class="col-md-4 ">
                
                   
                        <a href="{{publication.url}}" class="portfolio-link" target="_blank">
                            <div class="portfolio-hover">
                                <span class="portfolio-hover-content">
                                    <h4 class="service-heading">{{publication.title}}</h4>
                                </span>
                            </div>
                        </a>
                        {% assign author_arr = publication.authors | split: ", " %}
                        <h6 class="section-subheading">
                            {{author_arr.first}} et al.
                                {% for author in author_arr %}
                                <span hidden resource="{{site.url}}{{site.baseurl}}/{{author | replace: ' ', '' }}" property="schema:author" typeof="schema:Person">                           
                                    <span hidden property="schema:name">{{ author }}</span>
                                </span>
                                {% endfor %}
                        </h6> 
                </div>
                {% endif %}
                {% endfor %}
        </div>

        <div class="row text-center" id="confProceeding">
            <i class="fa fa-file-text fa-2x"></i>
            <h3>Conference proceedings</h3>
            {% for publication in site.data.publications.conferenceProceedings %}
            {% assign display_arr = publication.display | split: '-' %}
            {% if display_arr[0] == 'main' %}
            <div class="col-md-4 ">
                    <a href="{{publication.url}}" class="portfolio-link" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <h4 class="service-heading">{{publication.title}}</h4>
                            </div>
                        </div>
                    </a>
                {% assign author_arr = publication.authors | split: ", " %}  
                <h6 class="section-subheading">
                    {{author_arr.first}} et al.
                        {% for author in author_arr %}
                        <span hidden resource="{{site.url}}{{site.baseurl}}/{{author | replace: ' ', '' }}" property="schema:author" typeof="schema:Person">                           
                            <span hidden property="schema:name">{{ author }}</span>
                        </span>
                        {% endfor %}
                </h6>                
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="row text-center">
            <a href="{{ "/publications" | relative_url}}" class="page-scroll btn btn-xl">See all publications</a>
        </div>
    </div>
</section>