<!-- Services Section -->
<section id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>

        <div class="row text-center">
            {% for publication in site.data.publications %}
            <div class="col-md-4" resource="{{publication.url}}" typeof="schema:ScholarlyArticle">
                
                <span class="fa-stack fa-3x">
                    <a href="{{publication.url}}" class="portfolio-link" target="_blank" property="schema:url">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-file"></i>
                            </div>
                        </div>
                    </a>
                </span>
                <h4 class="service-heading" property="schema:name">{{publication.title}}</h4>
                <h6 class="section-subheading" property="schema:authors">
                    <span>
                        {% assign author_arr = publication.authors | split: ", " %}
                        {{author_arr.first}} et al.
                        {% for author in author_arr %}
                        <span hidden resource="{{site.url}}{{site.baseurl}}/{{author | replace: ' ', '' }}" property="schema:author" typeof="schema:Person">                           
                            <span hidden property="schema:name">{{ author }}</span>
                        </span>
                        {% endfor %}
                    </span>
                </h6>
                <!-- <p class="text-muted" property="schema:abstract">{{publication.abstract}}</p> -->
                
            </div>
            {% endfor %}
        </div>
    </div>
</section>