<!-- About Section -->
    <section id="talks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Talks</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                
                                    <img class="img-responsive grayscale" src="https://2020.openbelgium.be/themes/appsforghent/assets/images/logo_big.png" alt="" >
                               
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <a href="https://2021.openbelgium.be/" target="_blank"><h4>Open Belgium 2021</h4></a>
                                    <h4 class="subheading">Topic: <a href="https://bit.ly/opsci-workzones-2021-openbe" target="_blank">Work Zones of Open Science</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, ecusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://2022.openbelgium.be/" target="_blank">
                                <img class="img-responsive grayscale" src="https://2020.openbelgium.be/themes/appsforghent/assets/images/logo_big.png" alt="">
                            </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <a href="https://2022.openbelgium.be/" target="_blank"><h4>Open Belgium 2022</h4></a>
                                    <h4 class="subheading">Topic: <a href="https://bit.ly/opsci-rocrategit-2022-openbe" target="_blank">Data publishing with RO-Crate and git</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>More 
                                    <br>to
                                    <br>follow!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>