<div class="col-12 field__item">
    <div
      class="paragraph paragraph--type--from-library paragraph--view-mode--default">
      {% include banner/banner.html banner=banner %}
      <div
        class="field field--name-paragraphs field--type-entity-reference-revisions field--label-hidden">
        <div>
          <div class="field__item">
            <div class="paragraph paragraph--type--container paragraph--view-mode--default">
              <div
                class="field field--name-field-paragraph-container-items field--type-entity-reference-revisions field--label-hidden">
                <div class="row field__items">
                    {% assign counter = 0 %}
                    {% assign numtopics = banner.topics | size %}
                    {% assign mdl = numtopics | modulo: 3 %}
                    {% assign lmz = numtopics | minus: mdl %}
                    {% for topic in banner.topics %}
                    {% assign counter = counter | plus: 1 %}
                    {% assign mlnz = lmz | minus: 3 %}
                    {% assign colw = '4' %}
                    {% if numtopics | modulo: 3 == 0  %}
                        {% assign colw = '4' %}
                    {% endif %}
                    {% include banner/topic.html colw=colw topic=topic  %}
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>