
/* make a few vars */
:root {
    --vliz-color-background-light-1: #f7c97c;
    --vliz-color-background-light-2: #fff7d0;
    --vliz-color-background-light-3: #65c9cd;
    --vliz-color-text-brand: #354D9B;
    --vliz-color-text-brand-hover: #283a75;
}

.grayoverlay {
    background: rgba(0, 0, 0, 0.3);
    padding: 2rem;
    border-radius: 15px;
}

.light-one-box  {
    background-color: var(--vliz-color-background-light-1) !important;
    padding: 2rem;
    border-radius: 15px;
}

.light-two-box {
    background: var(--vliz-color-background-light-2) !important;
    padding: 2rem;
    border-radius: 15px;
}

.light-three-box {
    background: var(--vliz-color-background-light-3) !important;
    padding: 2rem;
    border-radius: 15px;
}

img.emoji {
    display: inline;
}

/* indent ul and ol items more to the left */
ul, ol {
    padding-left: 2rem !important;
}

/* change colors of h1 , h2, h3, h4 to color text brand*/
h1, h2, h3, h4 {
    color: var(--vliz-color-text-brand) !important;
}

.white {
    color: #fff !important;
}

/* support images embeded inline in the content of articles */
article img.image-style-content-embed {
    display: inline;
    max-width: 50%;
    float: right;
    margin: 1em;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

.page-title-hero-container div.field--name-field-hero-title {
    text-shadow: rgba(0, 0, 0, 1) 0 0 10px;
}