<div class="region region-mobile-overlay">
    <nav role="navigation" aria-labelledby="block-hoofdnavigatie-5-menu" id="block-hoofdnavigatie-5"
        class="mobile-main-navigation">
        <h2 class="visually-hidden" id="block-hoofdnavigatie-5-menu">Hoofdnavigatie</h2>
        <ul class="menu">
        <li class="menu-item menu-item--expanded">
            <span data-doormat-target="doormat-block-hoofdnavigatie">Wie we zijn</span>
            <ul class="menu">
            <li class="menu-item menu-item--expanded">
                <a href="/nl/wie-we-zijn/over-vliz" data-drupal-link-system-path="node/13821">Over VLIZ</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/wie-we-zijn/over-vliz/missie-visie" data-drupal-link-system-path="node/13275">Missie
                    &amp;
                    Visie</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wie-we-zijn/over-vliz/onze-werking" data-drupal-link-system-path="node/13276">Onze
                    werking</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/staff" data-drupal-link-system-path="staff">Onze mensen</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/ethiek-en-waarden" data-drupal-link-system-path="node/13280">Ethiek en
                    waarden</a>
                </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <a href="https://www.vliz.be/nl/voor-wie">Voor wie</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/onderzoekers" data-drupal-link-system-path="node/13282">Onderzoekers</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wie-we-zijn/voor-wie/bedrijven" data-drupal-link-system-path="node/13283">Bedrijven</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/kennisvalorisatie/kennisvalorisatie-naar-beleid"
                    data-drupal-link-system-path="node/13271">Beleid</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wie-we-zijn/voor-wie/burgers-en-scholieren"
                    data-drupal-link-system-path="node/13285">Burgers en
                    scholieren</a>
                </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <a href="/nl/wie-we-zijn/hoe-ons-bereiken" data-drupal-link-system-path="node/13286">Waar vind je
                VLIZ?</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/wie-we-zijn/hoe-ons-bereiken" data-drupal-link-system-path="node/13286">Hoe ons
                    bereiken?</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/contact" data-drupal-link-system-path="node/12127">Contact</a>
                </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <a href="/nl/wie-we-zijn/werken-bij-vliz" data-drupal-link-system-path="node/15691">Werken bij VLIZ</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/wie-we-zijn/werken-bij-vliz/werken-bij-vliz"
                    data-drupal-link-system-path="node/13287">Wat betekent
                    werken bij VLIZ</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/jobs" data-drupal-link-system-path="node/12023">Onze
                    vacatures</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wie-we-zijn/werken-bij-vliz/stages"
                    data-drupal-link-system-path="node/13288">Stages</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wie-we-zijn/werken-bij-vliz/thesisbegeleiding"
                    data-drupal-link-system-path="node/13289">Thesisbegeleiding</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wie-we-zijn/werken-bij-vliz/jobstudenten"
                    data-drupal-link-system-path="node/13290">Jobstudenten</a>
                </li>
                </ul>

            </li>
            </ul>

        </li>
        <li class="menu-item menu-item--expanded">
            <span data-doormat-target="doormat-block-hoofdnavigatie-2">Wat we doen</span>
            <ul class="menu">
            <li class="menu-item menu-item--expanded">
                <a href="/nl/onderzoek" data-drupal-link-system-path="node/15149">Onderzoek</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/onderzoek/onderzoeksvisie"
                    data-drupal-link-system-path="node/13296">Onderzoeksvisie</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/onderzoek/ocean-health-and-human-health"
                    data-drupal-link-system-path="node/13297">Ocean Health
                    and human health</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/onderzoek/coastal-climate-change"
                    data-drupal-link-system-path="node/13302">Coastal
                    Climate Change</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/onderzoek/marine-observation-centre"
                    data-drupal-link-system-path="node/13306">Marine
                    Observation Centre</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wetenschapsprijzen" data-drupal-link-system-path="node/13273">Wetenschapsprijzen</a>
                </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <a href="/nl/data-informatie" data-drupal-link-system-path="node/13262">Data &amp;
                informatie</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/data-informatie/vliz-bibliotheek"
                    data-drupal-link-system-path="node/13264">Bibliotheek</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/data-informatie/data" data-drupal-link-system-path="node/13263">Data</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/data-informatie/it" data-drupal-link-system-path="node/13265">IT</a>
                </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <a href="/nl/wat-we-doen/aanbod-infrastructuur" data-drupal-link-system-path="node/13314">Aanbod
                infrastructuur</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/apparatuur" data-drupal-link-system-path="node/13319">Apparatuur</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/aanbod-infrastructuur/onderzoeksvaartuigen"
                    data-drupal-link-system-path="node/13315">Onderzoeksvaartuigen</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/aanbod-infrastructuur/robotica"
                    data-drupal-link-system-path="node/13316">Robotica</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/aanbod-infrastructuur/onderzoeksruimtes"
                    data-drupal-link-system-path="node/13317">Onderzoeksruimtes</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/aanbod-infrastructuur/wetenschappelijk-duiken"
                    data-drupal-link-system-path="node/13318">Wetenschappelijk
                    duiken</a>
                </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <a href="/nl/oceaangeletterdheid" data-drupal-link-system-path="node/13266">Oceaangeletterdheid</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/oceaangeletterdheid/educatie"
                    data-drupal-link-system-path="node/13267">Educatie</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/oceaangeletterdheid/publiek-informeren"
                    data-drupal-link-system-path="node/13268">Publiek
                    informeren</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/oceaangeletterdheid/burgerwetenschap"
                    data-drupal-link-system-path="node/13269">Burgerwetenschap</a>
                </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <a href="/nl/kennisvalorisatie" data-drupal-link-system-path="node/13270">Kennisvalorisatie</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/wat-we-doen/kennisvalorisatie/kennisvalorisatie-naar-beleid"
                    data-drupal-link-system-path="node/13271">Kennisvalorisatie
                    naar beleid</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/kennisvalorisatie-naar-de-blauwe-economie"
                    data-drupal-link-system-path="node/13272">Kennisvalorisatie
                    naar de Blauwe economie</a>
                </li>
                </ul>

            </li>
            </ul>

        </li>
        <li class="menu-item menu-item--expanded">
            <span data-doormat-target="doormat-block-hoofdnavigatie-3">Samenwerkingen</span>
            <ul class="menu">
            <li class="menu-item">
                <a href="/nl/samenwerkingen/onze-partners" data-drupal-link-system-path="node/13307">Onze partners</a>
            </li>
            <li class="menu-item">
                <a href="/nl/samenwerkingen/overeenkomsten" data-drupal-link-system-path="node/13308">Overeenkomsten</a>
            </li>
            <li class="menu-item">
                <a href="/nl/samenwerkingen/ocean-decade" data-drupal-link-system-path="node/13312">Ocean decade</a>
            </li>
            <li class="menu-item">
                <a href="/nl/samenwerkingen/mission-ocean" data-drupal-link-system-path="node/13313">Mission Ocean</a>
            </li>
            </ul>

        </li>
        <li class="menu-item">
            <a href="/nl/news" data-drupal-link-system-path="news">Nieuws</a>
        </li>
        <li class="menu-item menu-item--expanded">
            <span data-doormat-target="doormat-block-hoofdnavigatie-4">Publicaties</span>
            <ul class="menu">
            <li class="menu-item menu-item--expanded">
                <span>Zee-info</span>
                <ul class="menu">
                <li class="menu-item">
                    <a href="https://www.vliz.be/testerep/" target="_blank">Testerep magazine</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/publications/type/grote_rede"
                    data-drupal-link-system-path="publications/type/grote_rede">De
                    Grote Rede</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/publications/type/zeekrant"
                    data-drupal-link-system-path="publications/type/zeekrant">De
                    Zeekrant</a>
                </li>
                <li class="menu-item">
                    <a href="http://compendiumkustenzee.be/nl/home-0">Compendium
                    voor kust en zee</a>
                </li>
                <li class="menu-item">
                    <a href="https://www.kustportaal.be/nl">Kustportaal</a>
                </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <a href="/nl/catalogus" data-drupal-link-system-path="node/13236">Catalogus</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/publications/type/boeken"
                    data-drupal-link-system-path="publications/type/boeken">Boeken
                    door VLIZ</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/publications/type/bins"
                    data-drupal-link-system-path="publications/type/bins">BIN&#039;s
                    en rapporten</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/catalogus" data-drupal-link-system-path="node/13236">Catalogus</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/wetenschappelijke-publicaties"
                    data-drupal-link-system-path="node/13985">Wetenschappelijke
                    publicaties</a>
                </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <span>Jaarboek</span>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/publicaties/jaarboek/jaarboek-2022" data-drupal-link-system-path="node/15503">Jaarboek
                    2022</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/voorgaande-jaarboeken" data-drupal-link-system-path="node/15504">Voorgaande
                    jaarboeken</a>
                </li>
                </ul>

            </li>
            </ul>

        </li>
        <li class="menu-item menu-item--expanded">
            <span class="highlight" data-doormat-target="doormat-block-hoofdnavigatie-6">Steun
            ons</span>
            <ul class="menu">
            <li class="menu-item">
                <a href="https://www.vliz.be/nl/de-zee-als-goed-doel" title="De Zee als Goed Doel">De Zee als Goed
                Doel</a>
            </li>
            <li class="menu-item menu-item--expanded">
                <a href="/nl/steun-ons/hoe-jij-kan-helpen" data-drupal-link-system-path="node/13656">Hoe jij kan
                helpen</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/steun-ons/hoe-jij-kan-helpen/word-lid-van-het-vliz"
                    data-drupal-link-system-path="node/15696">Word lid van
                    het VLIZ</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/steun-ons/hoe-jij-kan-helpen/doneer-aan-de-zee-als-goed-doel"
                    data-drupal-link-system-path="node/15693">Doneer</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/steun-ons/hoe-jij-kan-helpen/schenking-legaat"
                    data-drupal-link-system-path="node/15694">Schenking
                    &amp; legaat</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/steun-ons/hoe-jij-kan-helpen/word-partner-van-het-vliz"
                    data-drupal-link-system-path="node/15695">Word partner
                    van het VLIZ</a>
                </li>
                </ul>

            </li>
            <li class="menu-item menu-item--expanded">
                <a href="/nl/steun-ons/realisaties" data-drupal-link-system-path="node/14973">Realisaties</a>
                <ul class="menu">
                <li class="menu-item">
                    <a href="/nl/steun-ons/realisaties/brilliant-marine-research-idea-beurzen"
                    data-drupal-link-system-path="node/14974">Brilliant
                    Marine Research Idea beurzen</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/steun-ons/realisaties/worms-editors"
                    data-drupal-link-system-path="node/14976">WoRMS-editors</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/steun-ons/realisaties/ostend-working-group"
                    data-drupal-link-system-path="node/14975">Ostend
                    Working Group</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/steun-ons/realisaties/bescherm-het-mariene-leven-chili"
                    data-drupal-link-system-path="node/14977">Bescherm het
                    mariene leven in Chili</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/steun-ons/realisaties/reisbeurzen-voor-jonge-mariene-wetenschappers"
                    data-drupal-link-system-path="node/14978">Reisbeurzen
                    voor jonge mariene wetenschappers</a>
                </li>
                <li class="menu-item">
                    <a href="/nl/steun-ons/realisaties/jaarverslag-voor-schenkers"
                    data-drupal-link-system-path="node/14979">Jaarverslag
                    voor Schenkers</a>
                </li>
                </ul>

            </li>
            <li class="menu-item">
                <a href="https://shop.vliz.be/">Webshop</a>
            </li>
            </ul>

        </li>
        </ul>



    </nav>
    <nav role="navigation" aria-labelledby="block-servicenavigation-2-menu" id="block-servicenavigation-2">

        <h2 class="visually-hidden" id="block-servicenavigation-2-menu">Service navigation</h2>



        <ul class="menu">
        <li class="menu-item">
            <a href="/nl/contact" data-drupal-link-system-path="node/12127">Contact</a>
        </li>
        <li class="menu-item">
            <a href="/nl/events" data-drupal-link-system-path="events">Events</a>
        </li>
        <li class="menu-item">
            <a href="/nl/faq" data-drupal-link-system-path="faq">FAQ</a>
        </li>
        <li class="menu-item">
            <a href="/nl/jobs" data-drupal-link-system-path="node/12023">Vacatures</a>
        </li>
        </ul>



    </nav>
    <div class="language-switcher-language-url block block-language block-language-blocklanguage-interface"
        id="block-taalkeuze" role="navigation">


        <nav class="language-links" role="navigation" aria-label="Taalkeuze">
        <ul class="links">
            <li hreflang="nl" data-drupal-link-system-path="node/9293" class="is-active"><a href="/nl/homepage"
                class="language-link is-active" title="Dutch" hreflang="nl"
                data-drupal-link-system-path="node/9293">NL</a></li>
            <li hreflang="en" data-drupal-link-system-path="node/9293"><a href="/en/homepage" class="language-link"
                title="English" hreflang="en" data-drupal-link-system-path="node/9293">EN</a></li>
        </ul>
        </nav>
    </div>

    </div>